@import "../../styles/variables";

.files {
  &--workspace {
    height: 100%;
    margin-top: 55px;
  }

  &--dirpath {
    $self: &;

    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 0 15px;
    margin-bottom: 20px;

    &--wrapper {
      display: flex;
      flex-direction: row;
      gap: 7px;
    }

    &--text,
    &--delimiter {
      font-size: 18px;
      color: $textGray;
    }

    &--wrapper:last-child &--text {
      color: black;
      font-weight: 500;
    }

    &--wrapper:not(:last-child) {
      #{$self}--text {
        position: relative;
        cursor: pointer;
      }
      #{$self}--text::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $yellowLine;
        transition: width 0.333s;
      }

      #{$self}--text:hover::after {
        width: 100%;
      }
    }
  }
  &--footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &--btn {
      &--download {
        justify-self: flex-end;
        padding: 7px 30px;
        background-color: $yellowBtn;
        font-weight: 500;
        color: $white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: 0.333s;
  
        &:hover {
          background: $yellowBtnHover;
          box-shadow: $btnBoxShadow;
        }
      }
    }
  }

  

  &-table {
    height: calc(100% - 90px);
    overflow: auto;
    table {
      width: 100%;
      thead {
        tr {
          border-bottom: 1px solid $borderGray;
          border-top: 1px solid $borderGray;
          background-color: $componentsGray;
          th {
            padding: 18px 15px 7px 15px;
            text-align: left;
            font-weight: 500;
          }
          th:nth-child(1) {
            flex-grow: 4;
          }
          th:nth-child(2) {
            flex-grow: 3;
          }
          th:nth-child(3) {
            flex-grow: 2;
          }
          th:nth-child(4) {
            flex-grow: 1;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $borderGray;
        cursor: pointer;
        td {
          padding: 10px 15px 10px 15px;
          img {
            width: 30px;
            height: 30px;
          }
          p {
            display: inline-block;
            margin-left: 17px;
          }
        }
        &:active {
          background-color: $activeGray;
        }
      }
    }
  }
}
