$componentsGray:#F1F3F4;
$iconGray: #c4c4c4;
$borderGray: #DDDDDD;
$textGray: #717171;
$emptyGray: #c3c3c3;
$activeGray: #f6f6f6;

$white: #fcfcfc;

$yellowLine: #ffc216;
$yellowBtn: #ffc216;
$yellowBtnHover: #ffd765;

$btnBoxShadow: 0px 0px 5px 3px rgba(255, 215, 101, 0.53);

$marginHeader: 20px;