@import "../../styles/variables";

.file-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  svg {
    height: 100%;
    width: 100%;
  }
}

.table {
  &--row-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
  }
}
